.item{
    background-color: black;
    display: flex;
    gap: 10px;
}

.status{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.avatar{
    align-items: center;
}

.name{
align-items: center;
}